* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    /* prevents scrolling completely as good for dashboard app */
    overflow: hidden;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* parent section here */
.parent{
    width: 100%;
    height: 100%;
    display: flex;
}

/* Sidebar here */
.sideBar{
    width: 4.8%;
    height: 100%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* for the logo */
.red-square{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border: 8px solid rgb(236, 13, 13);
    border-radius: 8px;
}

/* For the ul inside sidebar */
.sideBar ul{
    list-style-type: none;
    font-size: 1.5rem;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sideBar ul li {
    padding-left: 23px;
    border-left: 6px solid transparent;
}

.sideBar ul li i{
    font-size: 1.2rem;
}
.sideBar ul li:hover{
    border-left: 6px solid #8c45ff;
    color: black;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;    
}

/* for the Main section containing all the mian sections */
.main{
    width: 95.2%;
    height: 100%;
    overflow: hidden;
}



/* for the navbar at the top */
.nav{
    width: 100%;
    height: 7.4vh;
    padding: 0 44px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center{
    width: 50%;
    min-height: 100%;
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
    color: grey;

}

.nav-center li {
    font-size: 0.9rem;
    font-weight: 500;
    border-top: 4px solid transparent;
    padding: 14px 5px;
}

.nav-center li:hover{
    border-top: 4px solid #8c45ff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* for the dollar sign icon inside .nav-center class inside third li*/
.nav-center .fa-dollar-sign {
    position: relative;
    border: 2px solid #8c45ff;
    border-radius: 50%;
    font-size: 0.9rem;
    width: 1.2rem;
    height: 1.2rem;
    padding: 2px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8c45ff;
    background: white;
    /* optional for contrast */
    z-index: 1;
    /* keep the icon above the pseudo-element */
}

.nav-center .fa-dollar-sign::after{
    content: "";
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    background: #cdb5f4;
    border-radius: 50%;
    filter: blur(0px);
    opacity: 0.4;
    z-index: -1;
}

/* for the NAV-RIGHT UL containing notification bell and  google G */
.nav-right{
    width: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.5rem;
    color: grey;
}

/* bell icon */
.nav-right .fa-bell{
    position: relative;
}

/* adding red notification dot to notification bell icon */
.nav-right .fa-bell::after{
    position: absolute;
    content: "";
    right: -8px;
    top: -6px;
    width: 6px;
    height: 6px;
    background: #ff0000;
    box-shadow: 0 0 7px red;
    border-radius: 50%;
}

/* coloring google G */
.nav-right .fa-google{
    background: conic-gradient(
        #EA4335 0deg 30deg,
        /* Blue */
        #34A853 60deg 180deg,
        /* Red */
        #FBBC05 180deg 250deg,
        /* Yellow */
        #EA4335 250deg 180deg
        /* Green */
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}



/* ---------------------------------------------------------------------------------------- */
/* for the chat-parent section row at top and 3 columns below row */
.chat-Parent{
    background: #eff0f9;
    height: 92.6vh;
    padding: 2px 37px;
    border-top-left-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
        'topRow topRow topRow'
        'colOne colTwo colThree';
    grid-template-rows: 45px 1fr;
    grid-template-columns: 68px 3fr 9fr;
    gap: 20px;
}

/* row for the credits data, time duration with dates */
.credits-data{
    grid-area: topRow;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.credits-data p{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(76, 76, 76);
}

/* div inside credits-data for data on right */
.credits{
    color: grey;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

/* 1st child of credits p */
.credits p:first-child{
    font-weight: 500;
}

/* 2nd child div inside .credits */
.credits div {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding-right: 30px;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); */
    /* i used this to hide the icon background sharp edges overflow */
    overflow: hidden;
}

/* span inside div for c icon*/
.credits div span {
    font-size: 1.2rem;
    background: #8c45ff;
    color: white;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* p inside div for number */
.credits div p {
    font-size: 1.2rem;
    padding-right: 50px;
    color: #8c45ff;
    /* font-weight: 800; */
    background: #fff;
    font-weight: 600;
}


/* last child of .credits */
.credits p:last-child{
    height: 35px;
    font-size: 0.8rem;
    /* color: grey; */
    background: #fff;
    padding: 7px 26px 7px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* calender icon in last child of .credits */
.credits p:last-child i{
    right: 20px;
}



/* ------------------------------------------------------------------------------------- */
/* col1 UL for sidebar in main that contains all chat platforms like wattsapp, contacts etc */
.chat-sideBar{
    grid-area: colOne;
    background: #fff;
    border-radius: 7px;
    padding: 22px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

/* li inside .chat-sideBar UL for the image */
.chat-sideBar li {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Hover effect over li's inside ul */
.chat-sideBar li:hover{
    background: #e9e9e9;
    border-radius: 5px;
}

/* images inside chat-sideBar UL li's */
.chat-sideBar li img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* adding red notification dot to 3 li's in chat-sideBar ul */
.chat-sideBar li:nth-child(3)::after, 
.chat-sideBar li:nth-child(4)::after, 
.chat-sideBar li:nth-child(5)::after{
    position: absolute;
    content: "";
    right: 4px;
    top: 6px;
    width: 5px;
    height: 5px;
    background: #ff0000;
    box-shadow: 0 0 7px red;
    border-radius: 50%;

}


/* col2 for recent chats and all chats */
.recentChats{
    grid-area: colTwo;
    height: 100%;
    background: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* .ai-contacts  inside recent chats for the top bar*/
.ai-contacts{
    /* height: 58px; */
    flex: 0 0 10%;
    width: 100%;
    padding: 0 20px 0 30px;
    background: #01ad01ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* h3 inside the .ai-contacts in recent-chats for top bar */
.ai-contacts h3{
    color: #fff;
    font-weight: 600;
}

/* div inside the .ai-contacts in recent-chats for top bar */
.ai-contacts div {
    width: 40px;
    height: 40px;
    background: #f9f9f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* signal bars in the div in .ai-contacts in recent-chats for top bar */
.ai-contacts div img {
    width: 25px;
    height: 25px;
}

/* .search-bar inside  recent-chats for top bar */ 
.search-bar {
    flex: 0 0 10%;
    width: 100%;
    padding: 0 20px;
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* search bar div contains input feild and magnifying glass icon in recent-chats for top bar */ 
.search-bar div{
    width: 100%;
    height: 34px;
    border-radius: 13px;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

/* input feild inside the search bar */
.search-bar input{
    font-size: 0.9rem;
    border-radius: 13px;
    color: black;
    padding: 3px 5px 3px 45px;
    width: 100%;
    height: 100%;
    border: none; 
    outline: none;
}

/* icon in the search bar inside input feild */
.search-bar i {
    position: absolute;
    font-size: 0.9rem;
    left: 20px;
    top: 10px;
    transform: translateY(-50);
    color: grey;
}

/* recent chat contacts means recent chats of contacts/friends  */
.recentChat-contacts {
    width: 100%;
    padding: 0 20px;
    background: #fff;
    max-height: 80%;
    flex: 0 0 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* hiding the scrollbar inside the recentChat Contacts */
.recentChat-contacts::-webkit-scrollbar {
    display: none;
}

/* chatone iside .recentChat-contacts*/
.chatOne{
    width: 100%;
    height: 70px;
    margin: 5px 0px;
    /* background: #cdb5f4; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div for the image of the contacts chats in chatOne */
.image-div {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Main Image of the contacts chats in chatOne */
.image-div img {
    width: 52px;
    height: 52px;
    border-radius: 100%;
}

/* adding seudo selector red notification dot to some contacts image */
.dot::after {
    position: absolute;
    content: "";
    right: -6px;
    top: 1px;
    width: 9px;
    height: 9px;
    background: #ff0000;
    border: 4px solid #fff;
    border-radius: 50%;

}

/* chat data contains two div that have all the data other then contact image*/
.chat-Data{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 3px;
}

/* .name-time contains name and time data */
.chat-Data .name-time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

/* first child name to .name-time */
.name-time p:first-child {
    font-weight: 500;
}

/* last chil time to .name-time */
.name-time p:last-child {
    font-size: 0.7rem;
    color: grey;
}

/* parent folder to double check image and message */
.check-message {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
}

/* double check image in .check-message */
.check-message img {
    width: 20px;
    height: 20px;
}

/* message inside .chech-message */
.message{
    font-size: 0.8rem;
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* color some of the contact message to black */
.black-message{
    color: black;
}

/* horizantal hr line */
hr{
    width: 100%;
    border: 1px solid #efefef;
}


/* col3 for open chat in main section  */
.openChat{
    grid-area: colThree;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    /* font-size: 0.2rem; */
}
.openChat::-webkit-scrollbar {
    display: none;
}

/* div for main-info of the opened chat */
.main-info{
    height: 10%;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* .contact-info div for the opened contact info */
.contact-info{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.contact-info div:last-child{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 6px;
}

/* special class from assignee and contact images from opened chat div */
.chat-image-div {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Main Image of the contacts and assignee in opened chat */
.chat-image-div img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
/* .assignee-info div for the assigned chat contact info */
.assingnee-info{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.assingnee-info .second-child {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 6px;
}

/* name-icon div for the name with icon iside assignee-info */
.name-icon{
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 80px;
}

/* main section for the OPENED CHATS */
.opened-Chat{
    width: 100%;
    flex: 1;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.opened-Chat::-webkit-scrollbar {
    display: none;
}

/* div for the recieved chats */
.recieved {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

/* p inside recieved div */
.recieved p{
    max-width: 360px;
    padding: 12px 20px 10px 20px;
    background: #efefef;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    position: relative;
}

/* adding suedo slector for time and date */
.recieved p::after {
    position: absolute;
    content: '02 Fri 2019,05: 02 PM';
    font-size: 0.6rem;
    color: grey;
    bottom: -10px;
    left: 2px;
    width: 150px;
    height: 9px;
    border-radius: 50%;
}

/* div for the image inside chat */
.chat-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* image inside chat */
.chat-image img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* send chats from our side */
.send{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

/* p inside send chats */
.send p {
    max-width: 340px;
    width: 340px;
    padding: 12px 30px 20px 20px;
    background: #efefef;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 0px;
    position: relative;
}

/* adding suedo selector for time and date to send chat p */
.send p::after {
    position: absolute;
    content: '02 Fri 2019,05: 02 PM';
    font-size: 0.6rem;
    color: grey;
    bottom: -10px;
    left: 230px;
    width: 150px;
    height: 9px;
    border-radius: 50%;
}

/* div for assign message/notifcation and hr */
.assign{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #808080;
    font-size: 0.8rem;
}

/* hr above assign */
.assign hr{
    width: 25%;
}

/* span inside assign div p for bold text */
.assign p span{
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
}

/* parent wrapper for input feild contains hr and (input and send icon) div */
.message-input{
    width: 100%;
    height: 7.5%;
    position: sticky;
    padding: 0 20px;
    font-size: 1.5rem;
    bottom: 0;
}

/* wrapper for input and icon*/
.input-wrapper{
    width: 100%;
    height: 100%;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    position: relative;
}

/* input  message feild inside wrapper  */
.input-wrapper input{
    width: 100%;
    height: 100%;
    padding: 5px 45px 5px 10px;
    border: none;
    outline: none;
}

/* icon image inside input wrapper */
.input-wrapper img{
    position: absolute;
    right: 20px;
    top: 23px;
    transform: translateY(-50%);
}